dist/
common/third_party/nssm/win64/
common/third_party/nssm/*.exe
common/third_party/ergo/win64/
common/third_party/ergo/**/ergo.exe
common/third_party/wix/bin/
common/third_party/wix/_extract/
common/third_party/wix/*.zip
common/third_party/bootstrap/
config/ergo.password
config/ircd.yaml
**/connect.password
__pycache__/
*.pyc
.wixpdb
